.modal-btn {
  font-size: 16px;
  position: absolute;
  padding: 19px 22px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.gallery-next-btn,
.gallery-prev-btn {
  display: none;

  top: 222px;
}

.modal-next-btn,
.modal-prev-btn {
  display: flex;
  top: 269px;
}

.modal-next-btn {
  right: -28.5px;
}

.modal-prev-btn {
  left: -28.5px;
}

.gallery-prev-btn {
  left: 23.5px;
}

.gallery-next-btn {
  right: 23.5px;
}

@media (max-width: 600px) {
  .gallery-next-btn,
  .gallery-prev-btn {
    display: flex;
  }
}

@media (max-width: 376px) {
  .gallery-next-btn,
  .gallery-prev-btn {
    top: 122px;
  }

  .gallery-prev-btn {
    left: 10px;
  }

  .gallery-next-btn {
    right: 10px;
  }

  .modal-btn {
    padding: 11px 14px;
  }
}
