.product-gallery {
  min-width: 400px;
  width: 43.9%;
}

.product-img {
  height: 445px;
  border-radius: 15px;
}

.product-thumbnails {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin-top: 32px;
}

.thumbnail {
  height: 88px;
  width: 88px;
  border-radius: 10px;
  cursor: pointer;
}

.active::after,
.inActive::after {
  content: "";
  display: flex;
  border-radius: 10px;
}

.active::after {
  width: 85px;
  height: 85px;
  border: 2px solid #ff7e1b;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.75)
  );
}

.inActive::after {
  width: 88px;
  height: 88px;
}

.inActive:hover::after {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

@media (max-width: 768px) {
  .product-gallery {
    width: 80%;
  }

  .product-thumbnails {
    margin-top: 20px;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .product-gallery {
    width: 100%;
  }

  .product-thumbnails {
    display: none;
  }

  .product-img {
    border-radius: 0;
    height: 500px;
  }
}

@media (max-width: 376px) {
  .product-img {
    height: 300px;
  }
  .product-gallery {
    min-width: 0;
    width: 100vw;
    height: 300px;
  }
}
