@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* font-family: 'Kumbh Sans', sans-serif; */

:root {
  --main-black-color: #1d2026;
  --font-color-grey: #69707d;
  --border-color-lightgrey: #979797;
  --border-fill-lightgrey: #d5d9e1;
  --font-color-orange: #ff7e1b;
  --lightbg-color-orange: #ffeee2;
  --font-color-lightgrey: #b6bcc8;
  --btn-color-lightblue: #f6f8fd;
  --btn-color-lightorange: #ffab6a;
}

body {
  background: #f2f2f2;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.App {
  max-width: 1440px;
  min-width: 320px;
  margin-inline: auto;
}
.header {
  max-width: 1110px;
  margin: 18px auto 0 auto;
  position: relative;
}
#menu-mobile {
  display: none;
}

#navigation {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
}

#navigation::after {
  content: "";
  position: absolute;
  top: 70px;
  width: 100%;
  height: 2px;
  border-bottom: solid 2px;
  border-color: var(--border-fill-lightgrey);
}

#logo {
  width: 137.5px;
  height: 20px;
  color: var(--main-black-color);
}

#cartIcon {
  /* height: 40%; */
  margin-left: auto;
  /* color: var(--font-color-grey); */
  cursor: pointer;
}

#cartIcon:hover path {
  fill: var(--main-black-color);
}

.cart-count {
  width: 19px;
  height: 13px;
  background-color: var(--font-color-orange);
  border-radius: 6.5px;
  position: absolute;
  right: 93px;
  top: 9px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

#avatar {
  height: 100%;
  position: relative;
}

.avatar-outline {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 45px;
  cursor: pointer;
  border: solid 2px transparent;
}

.avatar-outline:hover {
  border: solid 2px var(--font-color-orange);
}

.nav-links {
  list-style: none;
  display: flex;
  width: 397px;
  justify-content: space-between;
  font-size: 15px;
  color: var(--font-color-grey);
}

.link {
  cursor: pointer;
  position: relative;
}

.highlight {
  position: absolute;
  display: flex;
  top: 53px;
  height: 4px;
  width: 100%;
  background-color: var(--font-color-orange);
  z-index: 1;
  opacity: 0;
}

.link:hover {
  color: var(--main-black-color);
}

.link:hover .highlight {
  opacity: 1;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 90px auto 0 auto;
  max-width: 1015px;
  height: 565px;
}

.product-info {
  width: 43.9%;
  height: 426px;
  margin: auto 0;
}

.product-info h4 {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  color: var(--font-color-orange);
}

.product-info h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: var(--main-black-color);
  margin-top: 27px;
}

.product-info p {
  font-size: 16px;
  line-height: 26px;
  color: var(--font-color-grey);
  margin-top: 32px;
}

#price {
  font-size: 28px;
  font-weight: 700;
  margin-top: 28px;
}
#discount {
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  padding: 5px 15px;
  background: var(--lightbg-color-orange);
  color: var(--font-color-orange);
  border-radius: 6px;
}

#discounted-price {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: var(--font-color-lightgrey);
  text-decoration: line-through;
  margin-top: 10px;
}

footer {
  margin-top: 32px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#quantity {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--main-black-color);
}

.toggle-qty {
  display: flex;
  width: 35.2%;
  height: 56px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--btn-color-lightblue);
  border-color: var(--border-color-lightgrey);
  border-radius: 10px;
}

#minus {
  width: 12px;
  height: 3.33px;
}
#plus {
  width: 12px;
  height: 12px;
}

#minus,
#plus {
  cursor: pointer;
}

#minus:hover,
#plus:hover {
  fill: var(--btn-color-lightorange);
}

#addToCart-btn {
  display: flex;
  width: 61%;
  height: 56px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--font-color-orange);
  border-color: var(--font-color-orange);
  border-style: none;
  border-radius: 10px;
  padding: 0 13%;
  cursor: pointer;
}

#addToCart-btn:hover {
  background-color: var(--btn-color-lightorange);
}

#addToCart-btn p {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #ffff;
}
#cartIcon-btn {
  height: 33%;
  border-color: #fff;
}

.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  place-items: center;
  place-content: center;
  background-color: #000c;
  transform: scale(0);
}

.modal-gallery-container {
  position: relative;
  max-width: 550px;
  height: 722px;
}

.modal .product-img {
  width: 550px;
  height: 550px;
}

.modal-gallery-container .product-thumbnails {
  width: 445px;
  padding-inline: 52.5px;
}

.modal-btn {
  font-size: 16px;
  position: absolute;
  padding: 19px 22px;
  border-radius: 50%;
  background-color: #fff;
  top: 269px;
  cursor: pointer;
}

.modal-btn:hover path {
  stroke: var(--font-color-orange);
}

.prev-btn {
  left: -23.5px;
}

.next-btn {
  right: -23.5px;
}

.modal-close-btn {
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  cursor: pointer;
}

.modal-close-btn:hover path {
  fill: var(--font-color-orange);
}

.modal {
  transition: ease-in 0.2s;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  main {
    margin-top: 50px;
    flex-direction: column;
  }

  .cart-count {
    right: 113px;
  }

  .nav-links {
    display: none;
  }
  #menu-mobile {
    display: flex;
    width: 25px;
    padding-right: 1rem;
  }

  #navigation {
    padding-inline: 1.5rem;
  }

  #navigation::after {
    left: 0;
  }

  .nav-links-wrapper {
    position: absolute;
    top: -18px;
    left: -100%;
    z-index: 1;
    background-color: #000000c5;
    width: 100vw;
    height: 105vh;
    transition: all ease-in-out 500ms;
  }

  #close-menu {
    height: 15px;
    width: 14px;
    margin-bottom: 53px;
  }

  .nav-links-sm {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 40%;
    height: 100vh;
    margin: 0;
    padding: 25px;
    justify-content: initial;
  }

  .link {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-black-color);
  }

  .highlight {
    display: none;
  }

  .product-gallery {
    width: 80%;
    margin-inline: auto;
  }

  .product-img {
    background-position: top !important;
  }

  .product-info {
    margin-inline: auto;
    width: 80%;
    height: auto;
    margin-top: 1.3rem;
    padding-bottom: 2rem;
  }

  .product-info p {
    margin-top: 22px;
  }

  .price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggle-qty {
    width: 40%;
  }

  #addToCart-btn {
    width: 50%;
  }

  .modal {
    display: none;
  }
}
